Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
WTForms
Werkzeug
numpy
pandas
scikit-learn
joblib
openpyxl
matplotlib
seaborn
python-dotenv
pypdf
Pillow
tqdm
flask-sqlalchemy
pytest
pytest-pylint
pytest-flake8
pylint
flake8